body {
  margin: 0px;
  padding-bottom: 50px;
  font-family: arial;
  color: white;
  background-color: #ff8282;
  font-size: 120%;
}

@font-face {
  font-family: "northern";
  src: url("fonts/northern.ttf");
}

@font-face {
  font-family: "neon";
  src: url("fonts/neon.ttf");
}

h1 {
  font-family: 'northern', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 350%;
  color: #d1d1d1;
}

h2 {
  font-family: 'neon', Arial, sans-serif;
  text-align: center;
  color: #d1d1d1;
  font-size: 140%;
}

h6 {
  color: #d1d1d1;
  text-align: center;
}

header{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #d1d1d1;
}

p {
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  color: #d1d1d1;
}

ul {
  text-align: left;
  display: inline-block;
}

ol {
  text-align: left;	
}

table {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #FFFFFF;
  border-radius: 2em;
  overflow: hidden;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 50%;
    border-style: inset;
    border-width: 1px;
}

div {
  text-align: left;
  border: 7px solid #636363;
  background-color: #3dceff;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

footer {
  text-align: center;
  color: #d1d1d1;
}

a:link { 
  color: #006b6b;
}
a:visited {
  color: #093db7;
}
a:hover {
  color: #006b6b;
}

.wrapper {
  text-align: left;
}

#navlist {
  position: relative;
}

#navlist li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}

#navlist li, #navlist a {
  height: 100px;
  display: block;
}

#lamp {
  left: 0px;
  width: 100px;
  background: url('../images/sprites.png') 0 0;
}

#clock {
  left: 100px;
  width: 100px;
  background: url('../images/sprites.png') -100px 0;
}

#bamboo {
  left: 200px;
  width: 100px;
  background: url('../images/sprites.png') -200px 0;
}

.one_div_element {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  background: #520075;
  border: 5px solid #000000;
  border-radius: 10%;
}

.one_div_element:before {
  content:'';
  position: absolute;
  top: 50px;
  left: 100px;
  width: 350px;
  height: 400px;
  background: #000000;
  border-radius: 100%;
}

.one_div_element:after {
  content:'';
  position: absolute;
  top: 90px;
  left: 220px;
  width: 200px;
  height: 250px;
  background: #7601a8;
  border-radius: 100%;
}

#grad1 {
  background-image: linear-gradient(#9e0000, #ff8282);
}

#grad2 {
  background-image: linear-gradient(#1e7cff, #38bdea);
}
